.tb-container {
  display: table;
  /* border: 1px solid green; */
  font-size: 2vmin;
}

.tb-row {
  display: table-row;
}

.tb-cell {
  display: table-cell;
  text-align: left;
  /* border: 1px solid orange; */
  table-layout: fixed;
  width: 50%;
}